<!DOCTYPE html>
<html>
  <head>
    <title>POST form</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>POST form</h1>
    <form action="/posts" method="post">
      <label for="title">Title</label>
      <input type="text" name="title" id="title">
      <label for="content">Content</label>
      <textarea name="content" id="content" cols="30" rows="10"></textarea>
      <button>Submit</button>
    </form>
  </body>
</html>
